*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

  html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}
}