
@use './variables' as *;

.brands__container {    
    width: 100%;
    height: 1000px;
    background-color: #F8F8F8;

}
/* SWIPER */
.swiper__container {
    width: 100%;
    height: auto;
}


/* Swiper title */
.swiper__title__container {
    padding: 16px;
  
    margin-bottom: 24px;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.swiper__title--text {
    font-family: $font-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;  
}


/* Swiper slide box */
.swiper-wrapper {
  margin-bottom: 36px;

  
}

.swiper-slide.brands-item {
  width: 240px;
  height: 72px;

}


/* Swiper pagination */ 
.swiper-pagination {
display: flex;
justify-content: center;


}

.swiper-pagination-bullet-active {
    background-color: gray;   
}


.toggle--btn {
    height: 24px;
    font-family: $font-main;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: none;
    margin-left: 24px;
    gap: 8px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}




@media (max-width: 767px) {
  .swiper-wrapper {
    display: flex;
    max-height: none;
    overflow: visible;
    gap: 16px;
  }
}
@media (min-width: 768px) {

  .swiper-wrapper.wrapper__brands {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 16px;

    max-height: 175px;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .swiper-wrapper.is-open {
    max-height: none;
  }

  .swiper-pagination {
    display: none;
  }


}
  
/* DESKTOP */
@media (min-width: 1366px) {
  .swiper-wrapper {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}